.root {
    padding-bottom: 1em;
    font-size: 18px;
    line-height: 1.45;
}

.root.strong {
    font-weight: 600;
}

.root.italic {
    font-style: italic;
}

.root.disabled {
    cursor: not-allowed;
    opacity: 0.6;
    user-select: none;
}

span.root {
    padding: 0 5px;
}